body {
    position: relative;
}

div #frame {
    width: 70%;
    height: 500px;
    position: relative;
    border-right: 2px solid #992600;
}

div .circle {
    background-color: #ffdb4d;
    color: black;
    border-style: ridge;
    border-width: 2px;
    border-color: #e63900;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    padding: 2px;
    margin: 10px;
    box-shadow: 2px 2px #992600;
}

p {
    color: #992600;
    font-size: 17px;
    font-style: italic;
    height: 100%;
    line-height: 1.5;
    padding: 0;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}